body{
    background-color: rgb(128, 115, 79)
}

h1{
    color: cadetblue;
    font-family: Arial,Georgia, Times New Roman;
}

h3{
    color: cadetblue;
}

p>strong{
    color: red
}

img.moods{
    width: 150px;
    height: 100px;
}

ol{
    list-style-type:none;
    counter-reset:item 4;
}

ol > li{
    counter-increment:item -1;
}

ol > li:before
{
    content:counter(item) ". ";
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: chartreuse;
    text-decoration-line: underline;
}

p::first-letter{
    color: #903;
  float: left;
  font-family: Georgia;
  font-size: 1.5em;
}